---
title: "Creating a Dataframe from Pandas Series"
author: "Sanjay"
date: 2020-09-04
description: "-"
type: technical_note
draft: false
---

In [36]:
# Import pandas library  
import pandas as pd

In [37]:
# Initialize lists values
students = ['Steven', 'James', 'Ronald', 'Han'] 
marks = [90, 95, 65, 73]

In [40]:
# Print students list values
print(student)

['Steven', 'James', 'Ronald', 'Han']

In [41]:
# Print marks list values
print(marks)

[90, 95, 65, 73]

In [42]:
# Importing Series from Pandas for students list and printing it out
students = pd.Series(students) 
marks = pd.Series(marks)
print(students)

0    Steven
1     James
2    Ronald
3       Han
dtype: object

In [43]:
# Importing Series from Pandas for marks list and printing it out
marks = pd.Series(marks) 
print(marks)

0    90
1    95
2    65
3    73
dtype: int64

In [44]:
# Converting list values into dictionary values
data = { 'Students': students, 'Marks': marks } 
print(data)

{'Students': 0    Steven
1     James
2    Ronald
3       Han
dtype: object, 'Marks': 0    90
1    95
2    65
3    73
dtype: int64}

In [46]:
# Creating Dataframe from dictionary values
data = pd.DataFrame(data) 
print(data)

  Students  Marks
0   Steven     90
1    James     95
2   Ronald     65
3      Han     73

In [47]:
# Adding external grades list and printing it out
grades = ["A+", "O", "B+", "A"] 
print(grades)

['A+', 'O', 'B+', 'A']

In [48]:
# Adding grades list to the created dataframe
data['Grades'] = pd.Series(grades)

In [49]:
# Print the dataframe
print(data)

  Students  Marks Grades
0   Steven     90     A+
1    James     95      O
2   Ronald     65     B+
3      Han     73      A